In [ ]:
import pyspark as ps

In [ ]:
sc = ps.SparkContext("local")

In [ ]:
sqlContext = ps.SQLContext(sc)

In [ ]:
data = [
    (1, 'a'), 
    (2, 'b'), 
    (3, 'c'), 
    (4, 'd'), 
    (5, 'e'), 
    (6, 'a'), 
    (7, 'b'), 
    (8, 'c'), 
    (9, 'd'), 
    (10, 'e')
]

In [ ]:
df = sqlContext.createDataFrame(data,['numbers','letters'])

In [ ]:
df.show()

In [ ]:
df_pandas = df.toPandas()

In [ ]:
type(df_pandas)

In [ ]:
df.select("numbers").show()

In [ ]:
df.count()

In [ ]:
# pour récupérer toutes les partitions du dataframe

In [ ]:
df.collect()

In [ ]:
# la méthode cache sur un dataFrame va mettre en priorité ce dataframe en RAM

In [ ]:
df.cache()

In [ ]:
df.columns

In [ ]:
# Faire un mask ou un filtre

In [ ]:
df.filter("numbers > 5").show()

In [ ]:
# enregistrer le dataframe df en tant que table sql avec comme nom "myTable"

In [ ]:
df.registerTempTable("mytable")

In [ ]:
# on peut maintenant faire des requêtes sql sur "mytable"

In [ ]:
results = sqlContext.sql("select * from mytable")

In [ ]:
results.show()

In [ ]:
results = sqlContext.sql("select * from mytable where numbers < 8 order by numbers ASC")

In [ ]:
results.show()

In [ ]:
results = sqlContext.sql("select letters, count(*) as count, avg(numbers) as avg, sum(numbers) as sum from mytable group by letters")
results.show()

In [ ]:
results = sqlContext.sql("select letters, sum(numbers), avg(numbers) from mytable group by letters")
results.show()