In [1]:
import pyspark as ps

In [2]:
sc = ps.SparkContext("local")

In [4]:
sqlContext = ps.SQLContext(sc)

In [5]:
data = [
    (1, 'a'), 
    (2, 'b'), 
    (3, 'c'), 
    (4, 'd'), 
    (5, 'e'), 
    (6, 'a'), 
    (7, 'b'), 
    (8, 'c'), 
    (9, 'd'), 
    (10, 'e')
]

In [6]:
df = sqlContext.createDataFrame(data,['numbers','letters'])

In [7]:
df.show()

+-------+-------+
|numbers|letters|
+-------+-------+
|      1|      a|
|      2|      b|
|      3|      c|
|      4|      d|
|      5|      e|
|      6|      a|
|      7|      b|
|      8|      c|
|      9|      d|
|     10|      e|
+-------+-------+

In [8]:
df.toPandas()

   numbers letters
0        1       a
1        2       b
2        3       c
3        4       d
4        5       e
5        6       a
6        7       b
7        8       c
8        9       d
9       10       e

In [9]:
df.select("numbers").show()

+-------+
|numbers|
+-------+
|      1|
|      2|
|      3|
|      4|
|      5|
|      6|
|      7|
|      8|
|      9|
|     10|
+-------+

In [10]:
df.count()

10

In [13]:
# pour récupérer toutes les partitions du dataframe

In [ ]:
df.collect()

In [ ]:
# la méthode cache sur un dataFrame va mettre en priorité ce dataframe en RAM

In [ ]:
df.cache()

In [14]:
df.columns

['numbers', 'letters']

In [ ]:
# Faire un mask ou un filtre

In [21]:
df.filter("numbers > 5").show()

+-------+-------+
|numbers|letters|
+-------+-------+
|      6|      a|
|      7|      b|
|      8|      c|
|      9|      d|
|     10|      e|
+-------+-------+

In [ ]:
# enregistrer le dataframe df en tant que table sql avec comme nom "myTable"

In [22]:
df.registerTempTable("mytable")

In [ ]:
# on peut maintenant faire des requêtes sql sur "mytable"

In [25]:
results = sqlContext.sql("select * from mytable")

In [26]:
results.show()

+-------+-------+
|numbers|letters|
+-------+-------+
|      1|      a|
|      2|      b|
|      3|      c|
|      4|      d|
|      5|      e|
|      6|      a|
|      7|      b|
|      8|      c|
|      9|      d|
|     10|      e|
+-------+-------+

In [27]:
results = sqlContext.sql("select * from mytable where numbers < 8 order by numbers ASC")

In [28]:
results.show()

+-------+-------+
|numbers|letters|
+-------+-------+
|      1|      a|
|      2|      b|
|      3|      c|
|      4|      d|
|      5|      e|
|      6|      a|
|      7|      b|
+-------+-------+

In [29]:
results = sqlContext.sql("select letters, count(*) as count, avg(numbers) as avg, sum(numbers) as sum from mytable group by letters")
results.show()

+-------+-----+---+---+
|letters|count|avg|sum|
+-------+-----+---+---+
|      e|    2|7.5| 15|
|      d|    2|6.5| 13|
|      c|    2|5.5| 11|
|      b|    2|4.5|  9|
|      a|    2|3.5|  7|
+-------+-----+---+---+